{% include "records/base.html" %} {% block head %}
<title>Login</title>

<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

{% endblock head %} {% block body %}
<main class="form-signin text-center">
    <form method="post">
        {% csrf_token %}
        {% comment %}
        <img
            class="mb-4"
            src="/docs/5.0/assets/brand/bootstrap-logo.svg"
            alt=""
            width="72"
            height="57"
        />
        {% endcomment %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        {% if error_message %}
        <div class="alert alert-danger" role="alert">{{error_message}}</div>
        {% endif %}

        <div class="form-floating">
            <input
                name="email_or_username"
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="email or username"
            />
            <label for="floatingInput">Email or Username</label>
        </div>
        <div class="form-floating">
            <input
                name="password"
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input name="remember_me" type="checkbox" value="remember-me" />
                Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
    </form>
</main>
{% endblock body %}
